@import 'src/styles/colors';

body{
    display: flex;
    flex-direction: column;
}

#main404{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#content404{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-theme, $background-color-theme);
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--text-color, $text-color);
}