@import 'src/styles/colors';

.unselectable {
    user-select: none;
}

::placeholder {
    color: $text-color-dark;
}

:-ms-input-placeholder {
    color: $text-color-dark;
}

/* width */
div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:active {
    background: #555;
}