@import 'src/styles/colors';

.AnimeListSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
}

.AnimeListHeader > h2{
    color: $text-tilted-color;
    margin-right: 40px;
}

#AnimeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 8px;
}

.AnimeListHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BackBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: $background-tilted-color;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 25%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px;
}

.BackBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.BackBtn span:before {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
}

.BackBtn:hover span {
    padding-left: 15px;
}

.BackBtn:hover span::before {
    opacity: 1;
    left: 0;
}
