@import "src/styles/colors";

#Content {
  display: flex;
  flex-direction: column;
  height: 125px;
  color: $text-color-dark;
  margin-left: 20px;
  margin-right: 20px;
}

#HeaderContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: $base-color;
  background-repeat: no-repeat;
}

#HeaderContent > img{
  max-width: max-content;
}

#aaaHeader {
  color: $text-color;
  text-align: left;
  width: 40%;
}

#Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  width: 50%;
}

#MenuContent {
  height: 50px;
  background-color: $background-color;
  justify-content: space-around;
  align-items: center;
}

.Button {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  float: left;
}

.Button:hover {
  color: $btn-hover-text-color;
  background-color: $btn-hover-color;
}

#Searchbar {
  height: 25px;
  width: 50%;
  background-color: $background-color;
  color: $text-color;
  border: 2px solid transparent;
  font-size: medium;
}

#Searchbtn {
  width: 30px;
  height: 30px;
  background-color: $foreground-color;
  border: 2px solid $foreground-color;

  background-image: url("searchicon.png");
  background-repeat: no-repeat;
  background-position: center;
}

#LoginBox {
  height: 40px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: large;
}

#LoginBox > a,
#LoginBox > button {
  box-sizing: border-box;
  min-width: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

#SignUpBtn {
  border: 2px solid white;
}

#LoginBox > a:hover,
#LoginBox > button:hover {
  background-color: #99999955;
}

// What to do if your style doesn't want to apply:
#UserInfo#UserInfo {
  display: flex;
  padding: 5px;
  gap: 5px;
}

#UserInfo img, #UserInfo svg {
  height: 100%;
}
