@import "src/styles/colors";

#Content {
  display: flex;
  flex-direction: column;
  height: 125px;
  color: $text-color-dark;
  margin-left: 20px;
  margin-right: 20px;
}

#HeaderContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: $base-color;
  background-repeat: no-repeat;
}

#HeaderContent > img{
  max-width: max-content;
}

#MainBtn {
  width: 40%;
}

#Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  width: 50%;
}

#MenuContent {
  height: 50px;
  background-color: $background-color;
  justify-content: space-around;
  align-items: center;
}

.Button {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  float: left;
}

.Button:hover {
  color: $btn-hover-text-color;
  background-color: $btn-hover-color;
}

#MenuBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image: url("logo.png");
  background-repeat: no-repeat;
}

#Searchbar {
  height: 25px;
  width: 400px;
  background-color: $background-color;
  color: $text-color;
  border: 2px solid transparent;
  font-size: medium;
}

#Searchbtn {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 2px solid red;

  background-image: url("searchicon.png");
  background-repeat: no-repeat;
  background-position: center;
}

#LoginBox {
  height: 40px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: large;
}

#LoginBox > a,
#LoginBox > button {
  box-sizing: border-box;
  min-width: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

#SignUpBtn {
  border: 2px solid white;
}

#LoginBox > a:hover,
#LoginBox > button:hover {
  background-color: #99999955;
}

// What to do if your style doesn't want to apply:
#UserInfo#UserInfo {
  display: flex;
  padding: 5px;
  gap: 5px;
}

#UserInfo img, #UserInfo svg {
  height: 100%;
}

#MainBtn{
  width: 100%;
}

#MainBtn > .btn{
  width: 100%;
  height: 100%;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 0;
  transition: all 200ms ease;
}

#HistoryList{
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: $background-color;
  top: 35px;
  left: 800px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
  padding: 0px;
}

#HistoryList > a:first-of-type{
  color: $foreground-color;
  width: 100%;
  background-color: $background-color-dark;
  padding-left: 20px;
}

.HistoryEntry{
  width: 400px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.HistoryEntry:hover{
  background-color: $text-color;
}

.HistoryEntry:hover > h2{
  color: $background-color;
}

.HistoryEntry > img{
  max-width: 30px;
  max-height: 40px;
}

.HistoryEntry > h2{
  margin: 0px;
  padding-left: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: 2px;
}


