$base-color: #011e2d;
$background-color: #444444;
$background-color-dark: #333333;
$background-color-theme: #222233;
$background-tilted-color:#55555555;
$btn-hover-color: #2e2e6555;
$btn-hover-text-color: #f4f4ff;
$foreground-color: #A334E8;
$text-color: white;
$text-tilted-color: lightblue;
