$base-color: #011e2dff;
$background-color: #444444ff;
$background-color-dark: #333333ff;
$background-color-theme: #222233ff;
$background-tilted-color:#33333eff;
$btn-hover-color: #2e2e6555;
$btn-hover-text-color: #f4f4ffff;
$foreground-color: #a334e8ff;
$foreground-color-dark: #630f78ff;
$text-color: #ffffffff;
$text-color-dark: #f5f5f5ff;
$text-tilted-color: #add8e6ff;
