$base-color: #011e2d;
$bottom-color: #444444;
$bottom-color-dark: #333333;
$bottom-color-blue: #222233;
$bottom-tilted-color:#55555555;
$btn-hover-color: #2e2e6555;
$btn-hover-text-color: #f4f4ff;
$cool-color: #A334E8;
$white: #FFFFFF;