@import 'src/styles/colors';

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: $background-color-theme;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.AnimeSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-left: 40px;
    width: fit-content;
}

.AnimeSectionHeader>h2 {
    color: $text-color;
    margin-left: 40px;
}

.SampleAnimeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.AnimeSectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ShowMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $background-tilted-color;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    // padding: 16px;
    width: 25%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.ShowMoreBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.ShowMoreBtn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.ShowMoreBtn:hover span {
    padding-right: 15px;
}

.ShowMoreBtn:hover span:after {
    opacity: 1;
    right: 0;
}

#PickRandomDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $foreground-color;
    padding-bottom: 30px;
}

#PickRandomDiv > p{
    color: $text-color-dark;
    font-weight: 600;
}

#Randomize{
    width: 200px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: $background-color;
    color: $text-color;
    font-weight: 100;
    user-select: none;
}