@import 'src/styles/colors';

html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root{
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* width */
div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#content{
    display: flex;
    flex-direction: column;
    background-color: $background-color-theme;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#ContentHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    font-size: large;
    height: 50px;
    margin: 15px 0;
}

#SampleAnimeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}