@import "src/styles/colors";
@import "src/styles/arrows";
@import "src/styles/utils";

body {
  background-color: black;
}

.CoolButtonDiv {
  display: inline-block;
}

.CoolButton > span {
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  margin: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid $foreground-color;
  background-color: $background-color;
  color: white;
  cursor: pointer;
}

.CoolButtonCb:checked + span {
  background-color: $foreground-color;
  color: $text-color;
} 

.CoolButtonCb {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#contentSearch {
  display: flex;
  flex-direction: row;
  background-color: $background-color-theme;
}

#SearchbarLarge {
  background-color: $background-color;
  border: 2px solid transparent;
  height: 24px;
  width: 60%;
  color: $text-color;
  font-size: medium;
}

#SearchbtnLarge {
  background-color: $foreground-color;
  border: 2px solid $foreground-color;
  height: 30px;
  width: 50px;
  color: $text-color;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#SearchDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#SearchBarDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: $background-tilted-color;
}

#SearchResults {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $text-color;
  justify-content: center;
  font-size: larger;
}

#AnimeTypeDiv {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: $background-tilted-color;
  padding: 10px;
  color: $text-tilted-color;
}

.FilterCategoryHeader {
  color: $text-color;
}

.AnimeTypeBtnDiv {
  display: none;
  line-height: 2.5rem;
}
