body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* FIXME: Move this to a sensible place. */
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

.Loading {
  width: 50px;
  max-width: 100%;
  height: 50px;
  max-height: 100%;
  background: url("./assets/loading.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
