@import 'src/styles/colors';
@import 'src/styles/tooltips';

.AnimePoster{
    background-color: $background-color;
    width: 250px;
    height: 400px;
}

.AnimePosterHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    color: whitesmoke;
    background-color: $background-color-dark;
    font-size: small;
    margin-bottom: 10px;
    font-size: 0.7em;
}
.AnimePosterHover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.AnimePosterHover:hover{
    background-color: $btn-hover-color;
}

.AnimePosterDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    margin-bottom: 10px;
}

.AnimePosterImg{
    width: 70%;
}

.AnimePosterInfo{
    margin-bottom: auto;
    color: $text-color;
    width: 80%;
}

.PropertyName{
    font-weight: bold;
}
