@import 'src/styles/colors';

.AnimePanel{
    background-color: $bottom-color;
    width: 100%;
    height: 200px;
    margin: 10px;
}

.AnimePanelHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    color: whitesmoke;
    background-color: $bottom-color-dark;
    font-size: small;
    margin-bottom: 10px;
}

.AnimePanelHeader > h1{
    margin-left: 10px;
}

.AnimePanelHover{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.AnimePanelHover:hover{
    background-color: $btn-hover-color;
}

.AnimePanelContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}

.AnimePanelPosterDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.AnimePanelImg{
    height: 100%;
    width: 60%;
    border: 2px solid $base-color;
}

.AnimePanelInfo{
    width: 30%;
    height: 140px;
}

.AnimeTypePanel{
    width: 50%;
    height: 140px;
}

.PropertyName{
    font-weight: bold;
}
