@import 'src/styles/colors';

.AnimePanel{
    background-color: $background-color;
    width: 95%;
    height: 200px;
    margin: 20px;
    font-size: small;
    justify-content: space-between;
}

.AnimePanelHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    color: whitesmoke;
    background-color: $background-color-dark;
    font-size: small;
}

.AnimePanelHeader > h1{
    margin-left: 10px;
}

.AnimePanelHover{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.AnimePanelHover:hover{
    background-color: $btn-hover-color;
}

.AnimePanelContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: $text-color;
}

.AnimePanelPosterDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.AnimePanelImg{
    height: 140px;
    width: 100px;
    margin-top: 9px;
    margin-left: 10px;
}

.AnimePanelInfo{
    width: 40%;
    height: 100px;
    padding-left: 30px;
}

.AnimeTypePanel{
    width: 40%;
    height: 140px;
    padding-left: 30px;
}

.PropertyName{
    font-weight: bold;
}
