@import 'src/styles/colors';
@import 'src/styles/select';

#AnimeInfoHeaderDiv{
    background-color: #630f78;
    color: $text-color;
    margin: 0px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#AnimeInfoHeaderDiv > h1{
    margin: 0%;
    width: 100%;
}

#AnimeInfoHeaderDiv i{
    font-weight: 100;
}

#PlayerContent{
    display: flex;
    flex-direction: Row;
    color: $text-color;
    background-color: $background-color-theme;
}

#PlayerMainDiv{
    display: flex;
    flex-direction: column;
}

#EpList{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: $background-tilted-color;
}

#EpList > div{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#EpList > h2{
    background-color: $background-color-dark;
    flex-basis: 60px;
    margin: 0%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EpisodeEntry{
    display: flex;
    flex-direction: row;
}

a.EpisodeEntry:hover{
    background-color: $btn-hover-text-color;
    color: $base-color;
}

span.EpisodeEntry{
    background-color: $background-color-dark;
}

.EpisodeEntry > span{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.EpisodeNr{
    min-width: 30px;
    padding-left: 0%;
    text-align: center;
    font-weight: bold;
}

a > .EpisodeNr{
    background-color: $foreground-color;
}

span > .EpisodeNr{
    background-color: $btn-hover-text-color;
    color: $base-color;
}

a{
    color: $text-color;
    text-decoration: none;
}

#PlayerMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#PlayerInfoDiv th{
    text-align: left;
    width: 35%;
}

#Player{
    height: 420px;
    width: 746px;
}

#PlayerHeaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#LanguageList{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

#LanguageList img{
    width: 2em;
    height: 2em;
    margin: 10px;
    filter: brightness(0.75)
}

#LanguageList img.active{
    filter: brightness(1.25)
}

#PlayerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#PlayerDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#PlayerInfoDiv{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#PlayerInfoDiv > a{
    color: $foreground-color;
    width: 100%;
    text-align: left;
}

#PlayerInfoDiv > table{
    width: 100%;
}

#PlayerCb{
    margin-left: 500px;
}