@import 'src/styles/colors';
@import 'src/styles/select';
@import 'src/styles/hover';

#AnimeInfoHeaderDiv {
    background-color: $foreground-color-dark;
    color: $text-color;
    margin: 0px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#AnimeInfoHeaderDiv>h1 {
    margin: 0%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: left;
}

#AnimeInfoHeaderDiv i {
    font-weight: 100;
}

#PlayerContent {
    display: flex;
    flex-direction: Row;
    height: 100%;
    color: $text-color;
    background-color: $background-color-theme;
}

#PlayerMainDiv {
    display: flex;
    flex-direction: column;
}

#EpList {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: $background-tilted-color;
}

#EpList>div {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#EpList>h2 {
    background-color: $background-color-dark;
    flex-basis: 60px;
    margin: 0%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EpisodeEntry {
    display: flex;
    flex-direction: row;
}

.EpisodeEntry>span {
    padding-left: 5px;
}

.EpTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 40px;
    width: 100%;
}

.EpisodeNr {
    min-width: 40px;
    line-height: 40px;
    padding-left: 0%;
    text-align: center;
    font-weight: bold;
    background-color: $foreground-color;
}

.SelectedEpNr{
    background-color: $btn-hover-text-color;
    color: $base-color;
}

span >.EpisodeNr {
    background-color: $btn-hover-text-color;
    color: $base-color;
}

a {
    color: $text-color;
    text-decoration: none;
}

#PlayerMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

#PlayerInfoDiv th {
    text-align: left;
    width: 35%;
}

#Player {
    height: 420px;
    width: 746px;
}

#PlayerHeaders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#LanguageList {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

#LanguageList img {
    width: 2em;
    height: 2em;
    margin: 10px;
    filter: brightness(0.75)
}

#LanguageList img.active {
    filter: brightness(1.25)
}

#PlayerDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#PlayerDiv>label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#PlayerInfoDiv {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#PlayerInfoDiv>a {
    color: $foreground-color;
    width: 100%;
    text-align: left;
}

#PlayerInfoDiv>table {
    width: 100%;
}

#EpControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    user-select: none;
    gap: 10px;
}

#EpControls>a {
    padding: 10px;
    width: 40%;
    min-width: 130px;
    text-align: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#SongMainContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#SongContainer {
    background-color: white;
    width: 40%;
    min-height: 60%;
    display: none;
    background-clip: padding-box;
    border: 8px double white;
    flex-direction: column;
    padding: 10px;
}

#SongExit {
    color: black;
    text-align: right;
    margin: 0px;
}

#SongContainer a {
    color: $foreground-color-dark;
}

#SongContainer th {
    text-align: left;
}

#SongContainer td::first-letter {
    text-transform: uppercase;
}

#IframeWrapper {
    display: inline-block;
    position: relative;
    max-width: min-content;
    max-height: min-content;
}

#IframeWrapper iframe {
    vertical-align: top;
    pointer-events: none;
}
