@import 'src/styles/colors';

#PlayerContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $text-color;
    background-color: $background-color-theme;
}

a{
    color: $text-color;
    text-decoration: none;
}

#Player{
    width: auto;
    height: 500px;
    width: 900px;
}

#PlayerHeaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#PlayerHeaders > q{
    color: $text-tilted-color;
}

#LanguageList{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

#LanguageList img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
