@import 'src/styles/colors';

#AnimeInfoHeader {
    background-color: #630f78;
    color: $text-color;
    margin: 0px;
    padding-left: 50px;
}

#AnimeInfoContent {
    display: flex;
    flex-direction: row;
    background-color: $background-color-theme;
    height: 100%;
    color: $text-color;
}

#AnimeInfoContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: $background-tilted-color;
}

#AnimeInfoContainer>h3 {
    margin-left: 20px;
}

#AnimeInfoContainer>h2 {
    margin-left: 10px;
    color: $text-tilted-color;
}

#AnimeInfoContainer>table {
    margin-left: 30px;
}

#AnimeDescContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 50px;
    font-size: 0.85em;
}

#AnimeDescContainer p {
    text-align: justify;
    text-justify: inter-word;
}

#AnimeInfoPosterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
    height: 400px;
}

#AnimeInfoPoster {
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: 90%;
    margin-right: 50px;
}

#SimiliarAnimes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#SimilliarAnimeHeader {
    color: $text-color;
}

.AnimePropertyName {
    color: $text-color;
    font-weight: bold;
    width: 200px;
}

#AnimeRelationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.RelationType {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 200px;
    margin: 20px;
    padding: 0%;
    background-color: $background-tilted-color;
}

.RelationType div {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* width */
.RelationType div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.RelationType div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.RelationType div::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.RelationType div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.RelationHeader {
    background-color: $background-color-dark;
    height: 50px;
    margin: 0px;
    padding-left: 10px;
}

.RelationEntry {
    height: 40px;
    padding: 10px;
    padding-left: 20px;
}

.RelationEntry:hover {
    background-color: $btn-hover-text-color;
    color: $base-color;
    height: 40px;
}

#PlayerDiv{
    display: flex;
    flex-direction: row;
}