@import 'src/styles/colors';

#AnimeInfoHeaderDiv img {
    margin-right: 10px;
    margin-top: 10px;
}

#AnimeInfoContent {
    display: flex;
    flex-direction: row;
    background-color: $background-color-theme;
    height: fit-content;
    color: $text-color;
}

#AnimeInfoContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #33333e;
}

#AnimeProperties {
    max-height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#AnimeProperties > div{
    width: 50%;
    margin: 10px;
}

#AnimeInfoContainer > h3 {
    margin-left: 20px;
}

#AnimeInfoContainer > h2 {
    margin-left: 10px;
    color: $text-tilted-color;
}

#AnimeInfoContainer table {
    margin-left: 30px;
}

#AnimeInfoContainer td {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#AnimeInfoContainer th {
    width: 100px;
}

#AnimeDescContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 50px;
    font-size: 0.85em;
}

#AnimeDescContainer p {
    text-align: justify;
    text-justify: inter-word;
}

#AnimeInfoPosterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
    height: 400px;
}

#AnimeInfoPoster {
    max-width: 100%;
    max-height: 90%;
    width: 250px;
    height: 90%;
    margin-right: 50px;
}

#SimiliarAnimes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#SimilliarAnimeHeader {
    color: $text-color;
}

.AnimePropertyName {
    color: $text-color;
    font-weight: bold;
    max-width: 200px;
    min-width: fit-content;
}

#AnimeRelationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.RelationType {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 200px;
    margin: 20px;
    padding: 0%;
    background-color: $background-tilted-color;
}

.RelationType > div {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.RelationHeader {
    background-color: $background-color-dark;
    height: 50px;
    margin: 0px;
    padding-left: 10px;
}

.RelationEntry {
    min-height: 50px;
    line-height: 20px;
    padding: 10px;
    padding-left: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    hyphens: auto;
    background-color: #33333e;
}

.RelationEntry:hover {
    background-color: $btn-hover-text-color;
    color: $base-color;
}

#PlayerDiv {
    display: flex;
    flex-direction: row;
}

#SimiliarAnimeDiv{
    background-color: black;
}

#ChatDiv{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

#ChatDiv > h2{
    border-bottom: 2px solid white;
}

#ChatDiv{
    padding-bottom: 150px;
}

#WriteChat p{
    padding-left: 30px;
}

#WriteChatInput{
    background-color: $background-color;
    border: 2px solid transparent;
    height: 24px;
    width: 60%;
    color: $text-color;
    font-size: medium;
}

#WriteChatSubmit{
  background-color: $foreground-color;
  border: 0px solid transparent;
  width: 150px;
  height: 28px;
  color: $text-color;
//   border-top-right-radius: 5px;
//   border-bottom-right-radius: 5px;
}
