@import 'src/styles/colors';

#AnimeInfoHeader{
    background-color: #630f78;
    color: white;
    margin: 0px;
    padding-left: 50px;
}

#AnimeInfoContent{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color-theme, $background-color-theme);
    height: 100%;
    color: white;
}

#AnimeInfoContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: $background-tilted-color;
}

#AnimeInfoContainer > h3{
    margin-left: 20px;
}

#AnimeInfoContainer > h2{
    margin-left: 10px;
    color: var(--text-tilted-color, $text-tilted-color);;
}

#AnimeInfoContainer > table{
    margin-left: 30px;
}

#AnimeDescContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
    padding: 50px;
    font-size: 0.85em;
}

#AnimeInfoPosterContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
    height: 400px;
}

#AnimeInfoPoster{
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: 90%;
    margin-right: 50px;
}

#SimiliarAnimes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#SimilliarAnimeHeader{
    color: white;
}

.AnimePropertyName{
    color: white;
    font-weight: bold;
    width: 200px;
}